<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Booststrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <!-- FONTS --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="/static/main.css">

    <title>Document</title>
</head>
<body>
    <main class="container p-4 overlay">
        <h1 class = "display-4 text-center title mt-4">Tasks App</h1>

        <div class="row">
            <div class="col"> <!--522*190-->
                <div class="card fixed-width my-auto">
                    <div class="card-header">
                        <form id="form-cliente">
                            <div class="form-group">
                                <input type="text" name="content" placeholder="task" class="form-control" id="content" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="save">
                                Save
                            </button>
                        </form>
                    </div>
                    <div id="lista-tareas" class="card-body">
                        {% for task in tasks %}
                            <div id="tarea-contenedor-{{task.id}}">
                                <li class="content"><span id="span-{{task.id}}" class="{% if task.done  %} done {% endif %}">{{task.content}}</span></li>
                                <a data-done-id="{{task.id}}" class="btn btn-success btn-sm radius boton-done" >done</a>
                                <a data-edit-id="{{task.id}}" class="btn btn-warning btn-sm radius boton-edit">Edit</a>
                                <a data-delete-id="{{task.id}}" class="btn btn-danger btn-sm radius boton-delete">Delete</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="div-cliente-edit" class="container-edit">
        <div class="container card-header">
            <form id="form-cliente-edit">
                <div class="form-group">
                    <input type="text" name="content" placeholder="task" class="form-control" id="content-edit" autofocus>
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="update">
                    update
                </button>
            </form>
        </div>
    </div>
    
    <script src="/static/script.js"></script>
</body>
</html>
